<h1 class="text-center">LsSocial Register Screen</h1>
<form class="container">
    <div class="input-data">
        <label for="email">Email</label>
        <input 
        [(ngModel)]="email"
        name="email"
        class="form-control"
        type="email"  
        id="email" 
        placeholder="Enter your email"> 
    </div>

    <div class="input-data">
        <label for="username">Username</label>
        <input 
        [(ngModel)]="username"
        name="username"
        class="form-control"
        type="username"  
        id="username" 
        placeholder="Enter your username"> 
    </div>

    <div class="input-data">
        <label for="password">Password</label>
        <input 
        [(ngModel)]="password"
        name="password"
        class="form-control"
        type="password"  
        id="password" 
        placeholder="Enter your password"> 
    </div>

    <div class="input-data">
        <label for="confirm-password">Confirm Password</label>
        <input 
        [(ngModel)]="confirmPassword"
        name="confirmPassword"
        class="form-control"
        type="password"  
        id="confirmPassword" 
        placeholder="Confirm your password"> 
    </div>

    <button (click)="onRegisterClick()" class="btn btn-primary">Register</button>
    <br>
    <a href="login">Already have an account?</a>
</form>