<h1 class="text-center">LsSocial Login Screen</h1>
<form class="container">
    <div class="input-data">
        <label for="email">Email</label>
        <input 
        [(ngModel)]="email"
        name="email"
        class="form-control"
        type="email"  
        id="email" 
        placeholder="Enter your email"> 
    </div>

    <div class="input-data">
        <label for="password">Password</label>
        <input 
        [(ngModel)]="password"
        name="password"
        class="form-control"
        type="password"  
        id="password" 
        placeholder="Enter your password"> 
    </div>

    <button type="button" (click)="onUserLogin()" class="btn btn-primary">Login</button>
    <br>
    <a href="register">Don't have an account?</a>
</form>