<h1 class="text-center">Update Post</h1>
<div class="col justify-content-md-center" *ngIf="currentPost !== null">
    <div class="col-md-12 text-center">
        <div>
            <label for="image">
                <img src="{{imageUrl}}" class="image-box" aria-hidden="true">
            </label>

            <div class="d-flex flex-column">
                <div class="input-data">
                    <label for="caption">Caption</label>
                    <input 
                    [(ngModel)]="currentPost.caption"
                    name="caption"
                    class="form-control"
                    type="text"  
                    id="caption" 
                    placeholder="Enter your caption here"> 
                </div>

                <div class="input-data">
                    <label for="description">Description</label>
                    <textarea
                    [(ngModel)]="currentPost.description"
                    name="description"
                    class="form-control"
                    id="caption"> 
                    </textarea>
                </div>
            </div>

            <button class="btn btn-primary" (click)="onUpdatePostClick()">Update Post</button> <br>
            <button class="btn btn-primary" (click)="onDeletePostClick(currentPost._id)">Delete Post?</button>
            <br>
            <a href="posts">Cancel?</a>
        </div>
    </div>
</div>