<h1 class="text-center">Create Post</h1>
<div class="col justify-content-md-center">
    <div class="col-md-12 text-center">
        <b>Please click the LS icon to change your post image :)</b>
    </div>
</div>
<div class="col justify-content-md-center">
    <div class="col-md-12 text-center">
        <div>
            <label for="image">
                <img src="{{imageUrl}}" class="image-box" aria-hidden="true">
                <input 
                    (change)="onFileSelected($event)"
                    type="file" 
                    style="display:none"
                    id="image" name="image"
                    accept="image/png, image/jpeg">
            </label>

            <div class="d-flex flex-column">
                <div class="input-data">
                    <label for="caption">Caption</label>
                    <input 
                    [(ngModel)]="caption"
                    name="caption"
                    class="form-control"
                    type="text"  
                    id="caption" 
                    placeholder="Enter your caption here"> 
                </div>

                <div class="input-data">
                    <label for="description">Description</label>
                    <textarea
                    [(ngModel)]="description"
                    name="description"
                    class="form-control"
                    id="caption"> 
                    </textarea>
                </div>
            </div>

            <div *ngIf="!creatingPost">
                <button (click)="onPostCreationClick()" class="btn btn-primary">Post</button>
                <br>
                <a href="posts">Cancel?</a>
            </div>
            <div *ngIf="creatingPost">
                <button disabled=true class="btn btn-primary">Post</button>
            </div>
        </div>
    </div>
</div>