<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand">Welcome {{currentUser.username}}, to LS-Social</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Options
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="user/{{currentUser._id}}">Change Password</a>
              <a class="dropdown-item" href="user/{{currentUser._id}}">Change Username</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">About us</a>
            </div>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="posts/create">Add Post</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <a href="login" class="btn btn-outline-success my-2 my-sm-0">Logout</a>
        </form>
      </div>
</nav>

<div
  class="search-results"
  infinite-scroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="50"
  (scrolled)="onScroll()"
>
<div class="col justify-content-md-center" *ngIf="userService !== null">
  <div class="d-flex justify-content-center" *ngFor="let post of showingPosts">
      <div class="border">
          <svg (click)="onEditPostClick(post)" *ngIf="post.userUUID === currentUser._id" width="2em" height="2em" viewBox="0 0 16 16" class="editBtn bi bi-wrench" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M.102 2.223A3.004 3.004 0 0 0 3.78 5.897l6.341 6.252A3.003 3.003 0 0 0 13 16a3 3 0 1 0-.851-5.878L5.897 3.781A3.004 3.004 0 0 0 2.223.1l2.141 2.142L4 4l-1.757.364L.102 2.223zm13.37 9.019L13 11l-.471.242-.529.026-.287.445-.445.287-.026.529L11 13l.242.471.026.529.445.287.287.445.529.026L13 15l.471-.242.529-.026.287-.445.445-.287.026-.529L15 13l-.242-.471-.026-.529-.445-.287-.287-.445-.529-.026z"/>
          </svg>
          <b>Posted By: {{userService.getUsernameByUUID(post.userUUID)}}</b> <br>
          <span *ngIf="post.updateDate !== undefined">Last Update: {{post.updateDate}}</span> <br>
          <b class="d-flex justify-content-center">{{post.caption}}</b>
          <img src={{post.imageUrl}}> <br>
          <svg *ngIf="post.whoLiked.includes(currentUser._id)" (click)="onPostLikeClick(post)" width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-heart-fill" fill="red" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
          </svg>
          <svg *ngIf="!post.whoLiked.includes(currentUser._id)" (click)="onPostLikeClick(post)" width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-heart" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M8 2.748l-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
          </svg>
          <br>
          <b>likes: {{post.likes}}</b>
          <br>
          <p class="descriptionBox">
            {{post.description}}
          </p>
      </div>
  </div>
</div>
</div>

<div class="row pb-5">
  <div class="col-md-12 p-5">
    <ngx-spinner
      bdOpacity = 0.9
      bdColor = ""
      size = "default"
      color = "#581f87"
      type = "ball-pulse-sync"
      [fullScreen] = "false"
    >
    </ngx-spinner>
  </div>
</div>