div {
    margin: 35px;
}

sub {
    font-size: 20px;
    word-wrap: break-word;
}

.post-div {
    margin: 10px;
    align-items: center;
}

img {
    float: left;
    width:  20rem;
    height: 20rem;
    object-fit:scale-down;
}

.descriptionBox {
    width: 20rem;
    word-wrap: break-word;
}

.box{
    border: solid black 1px;
}

.editBtn {
    float: right;
}